{% extends 'base.html.twig' %}
{% block content %}
    <h1 class="uk-heading-primary" style="font-weight: 700;">
        {{ 'caster_asked' | trans }}
    </h1>
    <div class="uk-width-4-5@m uk-margin-auto">
        <p class="lead">
            {{ 'caster_asked.paragraph_1' | trans }}
        </p>
        <p class="lead">
            {{ 'caster_asked.paragraph_2' | trans }}
        </p>
    </div>
    <div class="uk-margin-medium-top animate uk-invisible" data-uk-margin>
        <p>
            {{ 'do_you_understand' | trans }} <br/>
            <em class="uk-text-meta">
                {{ 'require_twitch_login' | trans }}
            </em>
        </p>
        <a class="uk-button uk-button-primary uk-button-large uk-width-2-3 uk-width-auto@s"
           data-uk-icon="check"
           title="Learn More"
           href="{{ path('thank_you') }}">
            {{ 'i_understand' | trans }}
        </a>
    </div>
{% endblock %}