{% extends 'base.html.twig' %}
{% block content %}
    <h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">{{ 'stop_backseat' | trans }}</h1>
    <div class="uk-width-4-5@m uk-margin-auto animate uk-invisible">
        <p class="lead">
            {{ 'please' | trans }}
        </p>
    </div>
    <div class="uk-margin-medium-top animate uk-invisible" data-uk-margin
         data-uk-scrollspy-class="uk-animation-fade uk-invisible">
        <a class="uk-button uk-button-primary uk-button-large uk-width-2-3 uk-width-auto@s"
           data-uk-icon="arrow-right"
           title="Learn More"
           href="{{ path('what_is_backseat') }}">
            {{ 'what_is_backseat' | trans }} ?
        </a>
        <br />
        <a class="uk-button uk-button-default uk-button-large uk-width-2-3 uk-width-auto@s"
           data-uk-icon="check"
           title="Learn More"
           href="{{ path('never_played') }}">
            {{ 'was_not_backseat' | trans }}
        </a>
    </div>
{% endblock %}