{% extends 'base.html.twig' %}
{% block content %}
    <main id="swup" class="uk-position-cover uk-light">
        <div class="uk-position-center">
            <div class="uk-grid-column-medium uk-grid-row-medium uk-text-center">
                <div>
                    <div class="uk-tile">
                        <div class="uk-text-lead">
                            {{ 'stop_backseat' | trans }}
                        </div>
                        <div class="uk-text-meta">
                            {{ 'please' | trans }}
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <a class="uk-button uk-button-default uk-button-small"
                               href="{{ path('what_is_backseat') }}">
                                {{ 'what_is_backseat' | trans }} ?
                            </a>
                        </div>
                        <br/>
                        <div>
                            <a class="uk-button uk-button-default uk-button-small"
                               href="{{ path('i_did_not') }}">
                                {{ 'was_not_backseat' | trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}