{% extends 'base.html.twig' %}
{% block content %}
    <h1 class="uk-heading-primary" style="font-weight: 700;">
        {{ 'what_is_backseat' | trans }} ?
    </h1>
    <div class="uk-width-4-5@m uk-margin-auto">
        <p class="lead">
            {{ 'backseat_definition' | trans }}
        </p>
        <blockquote cite="you">
            {{ 'backseat_quote' | trans }}
        </blockquote>
    </div>
    <div class="uk-margin-medium-top animate uk-invisible" data-uk-margin>
        <a class="uk-button uk-button-primary uk-button-large uk-width-2-3 uk-width-auto@s"
           data-uk-icon="check"
           title="Learn More"
           href="{{ path('never_played') }}">
            {{ 'was_not_backseat' | trans }}
        </a>
    </div>
{% endblock %}